<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chatily</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	<style>
	
	 
            @media only screen and (max-width : 540px) 
            {
                
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            
            body
            {
                background-color: #ffff;
            }
			
			#vl {
    border-left: 1px solid wheat;;
    height:100%;
	}
           
        
         
            .Active-Group-logo {
			position: fixed;
    left: 249px;
    top:17px;
    width: 34px;
    height: 34px;
  
			}
         


			
			
			
			
			
			.right-section-bottom{
	background: #fff;
    width: 71%;
    padding: 5px;
    position: absolute;
    left: 224px;
    bottom: 0px;
    border-top: 1px solid #E6E6E6;
    text-align: center;
}
.right-section-bottom input{
	border:0px;
	padding:8px 5px;
	width:calc(100% - 150px);
}
.right-section-bottom .btn-send{
	border:0px;
	padding: 8px 10px;
	float: right;
	margin-right: 30px;
	color: #009EF7;
	font-size: 18px;
	background: #fff;
	cursor: pointer;
}
			
			#msgId{
			        font-family: inherit;
    margin: 0px;
    padding: 13px;
    width: 278px;
    font-size: inherit;
    line-height: inherit;
    position: absolute;
    top: 270px;
    left: 0px;
	}
            
            .chat-sidebar
            {
                width: 238px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 49px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#e1e2e5;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
            
            .popup-box
            {
			display:none;
                position: fixed;
    bottom: 81px;
    right: 220px;
    height: 320px;
    background-color: #fff;
    width: 280px;
    border: 1px solid rgba(29, 49, 91, .3);
    margin-right: 40px;
            }
            
            .popup-box .popup-head
            {
                background-color: #293239;
				border-radius:5px 5px 0 0;
                padding: 10px 20px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 80%;
                overflow-y: scroll;
            }

            .navbar-inverse {
    background-color: #212b36;
    border-color: #080808;
            }
			.navbar-fixed-left {
  width: 220px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */


.navbar-nav{
    position: fixed;
    margin: 61px;
    top: 90px;
    cursor:pointer;
}

	</style>
	<script>
        
				var socket = io("https://ichatily.herokuapp.com");
          <!--  var socket = io("https://lobalhost:3000"); --!>
        
 		
            //this function can remove a array element.
            Array.remove = function(array, from, to) {
                var rest = array.slice((to || from) + 1 || array.length);
                array.length = from < 0 ? array.length + from : from;
                return array.push.apply(array, rest);
            };
        
            //this variable represents the total number of popups can be displayed according to the viewport width
            var total_popups = 0;
            
            //arrays of popups ids
            var popups = [];
        
            //this is used to close a popup
            function close_popup(id)
            {
			 check = check.reduce(function(a,b){
                if (a.indexOf(b) < 0 ) a.push(b);
                 return a;
                   },[]);
                   
                   for(var i=0;i<check.length;i++){
                   if(check[i]==id){
                       check.splice(i,1);
                   }

                   }
			
			
			
			
			
			
			
                for(var iii = 0; iii < popups.length; iii++)
                {
                    if(id == popups[iii])
                    {
                        Array.remove(popups, iii);
                        
                        document.getElementById(id).style.display = "none";
                        
                        calculate_popups();
                        
                        return;
                    }
                }   
            }
        
            //displays the popups. Displays based on the maximum number of popups that can be displayed on the current viewport width
            function display_popups()
            {
                var right = 237;
                
                var iii = 0;
                for(iii; iii < total_popups; iii++)
                {
                    if(popups[iii] != undefined)
                    {
                        var element = document.getElementById(popups[iii]);
                        element.style.right = right + "px";
                        right = right + 320;
                        element.style.display = "block";
                    }
                }
                
                for(var jjj = iii; jjj < popups.length; jjj++)
                {
                    var element = document.getElementById(popups[jjj]);
                    element.style.display = "none";
                }
            }
            
            //creates markup for a new popup. Adds the id to popups array.
            function register_popup(id, name)
            {
                
                for(var iii = 0; iii < popups.length; iii++)
                {   
                    //already registered. Bring it to front.
                    if(id == popups[iii])
                    {
                        Array.remove(popups, iii);
                    
                        popups.unshift(id);
                        
                        calculate_popups();
                        
                        
                        return;
                    }
                }               
                
               
                var element = '<div class="popup-box chat-popup" id="'+ id +'">';
                element = element + '<div class="popup-head">';
                element = element + '<div class="popup-head-left">'+ name +'</div>';
                element = element + '<div class="popup-head-right"><a href="javascript:close_popup(\''+ id +'\');">&#10005;</a></div>';
                element = element + '<div style="clear: both"></div></div><div class="popup-messages '+id+' "><input class="pop'+id+'" name='+id+' id="msgId" onclick="privetpopup();"  type="text" placeholder="Type your message here"></div></div>';
              
				
				$('body').append(element);
              
             
        
                popups.unshift(id);
                        
                calculate_popups();
                
            }


                var check=[];
              socket.on("pvtmessage",function(nick,text){
                   var n=0;
                   
                    check.push(nick);
                    for(i=0;i<check.length;i++){
                    if(check[i]==nick){
                        n++
                    }

                    }
                    if(n==1){
                        register_popup(nick,nick);
                    }
                                        
                $("."+nick).append("<p>"+text+"</p>");
            
               
                })

                



			
				function privetpopup(){
     var x=(event.target.id);
	 console.log(x);
	 var y=".pop"+event.target.className;
	
			$("."+event.target.className).keypress(function(event) {
		var $this = $(this);
	

		if(event.keyCode == 13){
			var msg = $this.val();
		
			$this.val('');
			
            var name=event.target.name;
            socket.emit("pvmsg",name,msg);

			}
	});
			}
            
            //calculate the total number of popups suitable and then populate the toatal_popups variable.
            function calculate_popups()
            {
                var width = window.innerWidth;
                if(width < 540)
                {
                    total_popups = 0;
                }
                else
                {
                    width = width - 200;
                    //320 is width of a single popup box
                    total_popups = parseInt(width/320);
                }
                
                display_popups();
                
            }
            
            //recalculate when window is loaded and also when window is resized.
            window.addEventListener("resize", calculate_popups);
            window.addEventListener("load", calculate_popups);
			
			$(function(){
                $("#img").hide();
	

		
		
		
	
	
		$('#datasend').click( function() {
			var message = $('#data').val();
			if(message==''){
			alert("Please type Message")
			}
			// tell server to execute 'sendchat' and send along one parameter
			else{
			$('#data').val('');
            console.log("---------------------")
            console.log(socket)
			socket.emit('sendchat', message);
			}
		});

		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
			});
			
			
//**********************all socket.io code ***************************************		

socket.on("updatechannel",function(rooms,current_room,check){
     	$('#room').empty();
       if(check){
     	$.each(check, function(key, value) {
		$('#room').append('<p style="color:#fff; cursor:not-allowed !important;" id='+value+'>'+" " + value +'</p>');
		});
   }
    else  {
     	   $.each(rooms, function(key, value) {
            if("#"+value == current_room){
			$('#room').append('<p style="color:#fff; cursor:not-allowed !important;" id='+value+'>'+" " + value +'</p>');
			}
            else{
			$('#room').append('<p style="color:#fff;" id='+value+' onclick="switchRoom(\''+value+'\')">'+" " + value +'</p>');
            }
		});
 }

 });
		
			
			socket.emit("every","<%=username%>","<%=password%>");
            socket.once("errormsg",function(msg){
                $("#img").show();
                  $("#check").hide();
                $("#myDiv").append("<h2>"+msg+"</h2>")
            })
			
			
			socket.on("data",function(name,msg){
		console.log("kk")
    console.log(name)
		socket.emit('userchat', name,msg);

	});
	
	socket.on('updatechat', function (username, data,channel) {
       

    	$('#myDiv div').each(function (index) {
				//	alert('index: ' + index + ', text: ' + $(this).attr('class'));
                    if(channel=="#"+$(this).attr('class')){
                       // console.log("_____________________________________________")
                       // console.log("#"+$(this).attr('class'))
                    $("."+$(this).attr('class')).show();
                      $("."+$(this).attr('class')).append("<div>"+"<b>" +username+":</b>"+ "<div id='mine'>"+data+ "</div>"+"</br>"+"</div>"); 
                    }
                    else{
                    $("."+$(this).attr('class')).hide();
                    }

				});    
	});
	
	
		socket.on("updateusers",function(user,profile){
        console.log(user);
    
	$("#users").empty();
	$.each(user,function(key,name){
	//$("#users").append("<div><li id='green'><img class='img-circle' src='"+name+"'/> "+user[key]+"</li></div>");
//	$('#users').append('<div><a href="#" onclick="switchRoom(\''+name+'\')">'+" " + user[key] + '</a></div>');

$('#users').append('<div class="sidebar-name"><a href="javascript:register_popup(\''+ name +'\',\''+ name +'\');">'+" " + user[key] + '</a></div>');


	});
	});
	
	function switchRoom(){
        console.log("kkk")
        var encodedString = btoa("<%=password%>");
      history.pushState(null, '', '/'+event.target.id+'/'+"<%=username%>"+'/'+encodedString);
      // history.pushState(null, '', '/'+event.target.id+' ');
   console.log(event.target.id);
      //  socket.emit("adduser","<%=username%>", event.target.id);
        socket.emit('switchRoom',"<%=username%>",event.target.id);
    
	}
			
			
			
			
			
			
			
			
			
			
			
			
			
			

			//**********************all socket.io code ***************************************		
			
            
       
	</script>
	
	
</head>

<body>

    <div class="container-fluid text-center head">
        <div class="row content link">
            <div class="col-sm-2 sidenav side">
                <div class="logo2">
                    <img src="/1.png"/>
                </div>
                <div class="channel">
                    <p><a href="#">Channels<span class="glyphicon glyphicon-plus-sign icon" aria-hidden="true"></span></a></p>
                </div>
          <!--      <p><a href="#">#AllNightCafe</a></p>
                <p><a href="#">#beginner</a></p>
                <p><a href="#">#CafeBlue</a></p>
                <p><a href="#">#Casual</a></p>
                <p><a href="#">#BhaiBrothers</a></p>
                <p><a href="#">#ReverseShell</a></p>
                <p><a href="#">#BruteForce</a></p>
                <p><a href="#">#DOS</a></p>
                <p><a href="#">#Phising</a></p>
                <p><a href="#">#BufferOverflow</a></p> !-->
				<div id="room">
				
		         </div>
            </div>
            <div class="col-sm-8 text-left">
                <div class="container-fluid text-left text">
                    <div class="logo">
                       <img src="/2.png"/>
                    </div>
                    <div class="all">
                        <span>#AllNightCafe</span>
                    </div>
                    <div class="pic">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                </div>

                <div>
                   <div class="maincontent" id="myDiv">
                 <div id="check">Loading...wait a few second(minimum 7sec) to check your username & password</div>
                   <div class="gksajib93"></div></br>
                    <div class="golam44"></div></br>
                     <div class="debian"></div></br>
                    </div>
                </div>

                <div class="chat">
                    <div class="input-group input-group-lg">
                        <input type="message" class="form-control" placeholder="Message" id="data">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="datasend">
                                <i class="glyphicon glyphicon-send plen"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav color" id="vl">
                <div class="tools">
                    <section id="settings">
                        <i class="fas fa-cog" id="st"></i>
                        <a href="#" title="Settings" id="sm">Settings</a>
                    </section>
                    <section id="power">
                        <i class="fas fa-power-off" id="st"></i>
                        <a href="/logout" title="Log Out" id="sm">Log Out</a>
                    </section>
                </div>
				<div class="contact"></div>
                <div class="fullarea">
                    <div class="jd">
                        <section id="john">
                            <p>JD</p>
                        </section>
                        <section id="doe">
                            <p>John Doe</p>
                        </section>
                    </div>
                </div>

                <div class="contact">
                    <section>
                        <p>Contacts</p>
						<p id="users"></p>
                    </section>
                </div> 
				
		<!--		<div class="chat-sidebar">
                <section>
				<P>Contacts</p>
				<p id="users"></p>
				</section>
        </div> !-->
		
				
				
            </div>
        </div>
    </div>

    <div class="clr"></div>

</body>

</html>